<nav class="navbar navbar-inverse navbar-fixed-top" class="visible-xs-*">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/contact-us">Contact</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(auth.user) { %>
        <li><a href="javascript:void(0);">Hello <%= auth.user.name %></a></li>
        <li><a href="/logout">Sign out</a></li>
        <% console.log(auth) %>
        <li><img src="<%= auth.user.image_url %>" width="50" height="50"></li>
      <% } else { %>
        <li><a href="/register">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>
