<div id="header2">
  <div class="menu">
    <a href="/page1"> Gallery </a>
  </div>
  <div class="menu">
    <a href="/page1"> About us </a>
  </div>
  <div class="menu">
    <a href="/">Home</a>
  </div>
  <div class="menu">
    <a href="/products">Products</a>
  </div>
  <div class="menu">
    <a href="/users">Users</a>
  </div>
  
  <div class="clr"></div>
</div>
