<div id="header2">
  <div class="pull-right">
    <div class="menu">
      <a href="/">Home</a>
    </div>
    <div class="menu">
      <a href="/products">Products</a>
    </div>
    <div class="menu">
      <a href="/users">Users</a>
    </div>
    <div class="menu">
      <a href="/page1"> About us </a>
    </div>
    <div class="menu">
      <a href="/page1"> Gallery </a>
    </div>
    <% if(auth.user) { %>
      <div class="menu">
        Hello: <%= auth.user.email %> 
        <a href="/logout">Logout</a>
      </div>
    <% } else { %>
      <div class="menu">
        <a href="/register">Register</a>
      </div>
      <div class="menu">
        <a href="/login">Login</a>
      </div>
    <% } %>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
