<html>
  <head>
    <title>Demo App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
  </head>
  <body>
 <div id = "header1"> 
  <span style="color:white;font-family:Times New Roman;font-size:20">Swa-tantra Publications by Sandip Khake - Publisher, Writer & Editor</span>
  </div>
  
  <div class = "container1">
   
   <img src="/images/logo_120-8e6493bb10e4527d9152dbb525498830.png" alt="logo" width="180" style="float:left"/>
   <div class = "pull-left">
     <div class="menu2">
         <a href="/">Home</a>
        </div>
        <div class="menu2">
          <a href="/">About us</a>
        </div>
        <div class="menu2">
          <a href="/users">Products</a>
        </div>
        <div class="menu2">
          <a href="/page1"> Updates </a>
        </div>
        <div class="menu2">
          <a href="/page1"> Contact us </a>
        </div>
        <div class="clr"></div>
      </div>
        <div class ="clr"></div>
     </div>
   </div>
   
  </body>
</html>
