<html>
  <head>
    <title>Demo App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
  </head>
  <body>
    <div class="container">
      <%- include('../layouts/header') %>
      <h4>Edit User</h4>
      <%- include('./form') %>
      <div>
        <a href="/users">Back</a>
      </div>
    </div>
  </body>
</html>
