<html>
  <head>
    <title>Demo App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
  </head>
  <body>
    <div class="container">
      <%- include('../layouts/header') %>
      <h4>New Product Form</h4>
      <%- include('./form') %>
      <a href="/products">Back</a>
    </div>
  </body>
</html>
